/********** Base styles **********/
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

  /* Simple Responsive Framework. */
.row {
    width: 100%;
}
.title {
    border: 1px solid black;
    font-size: 20px;
    float: right;
    margin-top: -1px;
    margin-right: -1px;
    padding: 5px 20px;
    position: relative;   
}

.chicken {
    background-color: #e89b9f;
}

.beef {
    background-color: rgb(211, 43, 13);
    color: rgb(255, 255, 255);
}

.sushi {
    background-color: rgb(238, 229, 151);
}

h1 {
    margin-bottom: 15px;
    font-size: 30px;
    text-align: center;
}

.item {
    background-color: #999;
    margin: 5px;
    font-size: 16px;
    height: 180px;
    overflow: hidden;
}

p {
    padding: 10px;
    padding-top: 25px;
    position: relative;
    
}   
  
/********** Large devices only **********/
@media (min-width: 992px) {
    .col-lg{
      float: left;
      border: 1px solid #111;
      width: 30%;
    }
} 
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2{
    float: left;
    border: 1px solid #111;
  }
  .col-md-1 {
    width: 45%;
  }
  .col-md-2 {
    width: 91.2%;
  }
}
/********** Smallm devices only **********/
@media (max-width: 767px) {
  .col-sm{
    float: left;
    border: 1px solid #111;
    width: 90%;
  }
}
